<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


  <div class="container">
      <div class="card-body">
        <h5 class="card-title">Sentiment Based Product Recommendation System</h5>
        <p class="card-text">Enter Username below and get top 5 recommended products to the user entered (Usernames to Test : 00sab00,aimee,adam,aktcharlotte,alexis,allie)</p>
        <form class="row g-3" action="/" method="post">
          <div >
            <label for="userName">User Name</label>
            <input type="text" class="form-control" name="name" id="userName" placeholder="User Name">
          </div>
          <div class="col-auto">
            <button type="submit" name="action" class="btn btn-primary mb-3">Submit</button>
          </div>
        </form>
        <hr>
        
        {% if products == "None" %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Enter a valid user name</li>
          </ul>
        {% elif submit == "yes" %}
          <h4>Top 5 Products Recommended</h4>
          <ul class="list-group list-group-flush">
            {% for prod in products %}
              <li class="list-group-item">{{ prod }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>